VERSION="0.0.1"
# Assumes Ollama is available somewhere
OPENAI_API_KEY=your_token
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_BASE_URL_EMBED=http://localhost:11434
EMBEDDING_MODEL=llama3.2
LLM_MODEL=llama3.2

# Various configurations
CHUNK_SIZE_TOKENS=128
FILE_SUFFIX=".txt"
# Finetune and validate Ollama settings
OLLAMA_LLM_OPTIONS = '{
    "max_tokens": 512,
    "temperature": 0.6,
    "top_p": 0.9,
    "frequency_penalty": 0,
    "presence_penalty": 0,
    "stop": []
}'
EXAMPLE_QUERY = 'This is an example query'

# Assistant related prompt construction
ASSISTANT_INSTRUCTIONS='{task}

{structure}'
ASSISTANT_INSTRUCTIONS_TASK='You are useful virtual assistant.'
ASSISTANT_INSTRUCTIONS_STRUCTURE=''
ASSISTANT_CONTEXT_PATTERN="{context}"
ASSISTANT_QUERY_STOPWORD="query"
ASSISTANT_RESPONSE_STOPWORD="response"
ASSISTANT_PROMPT_PATTERN="```json
{context}
```

```plaintext
{query}
```

{response}"
